.card {
  padding: toRem(16);
  display: flex;
  align-items: center;
  gap: toRem(32);
  border-bottom: 1px solid $color-gray-1;
  width: 100%;
  &:hover {
    background-color: $color-gray-1;
  }
  &-thumbnail > img {
    border-radius: 50%;
    border: 1px solid $color-gray-1;
  }
  &-content {
    flex: 1;
    min-width: 0;
    &__user {
      display: flex;
      gap: toRem(8);
      justify-content: space-between;
      width: 100%;
      text-align: left;
      &-name {
        font-size: toRem(18);
        font-weight: bold;
        color: $color-black;
      }
      &-username {
        @include linelimit(1);
        font-size: toRem(12);
        color: rgba($color-primary, 0.75);
        padding-top: toRem(4);
      }
    }
    &__email {
      @include linelimit(1);
      font-size: toRem(14);
      color: $color-gray-4;
      padding-top: toRem(4);
      text-align: left;
    }
  }
}
