footer {
  background-color: $color-gray-2;
  height: toRem(48);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-gray-5;
  font-size: toRem(12);
}

@media screen and (min-width: $md) {
  footer {
    font-size: toRem(14);
  }
}
