nav {
  background-color: $color-white;
  height: toRem(64);
  position: relative;
  border-bottom: 1px solid $color-gray-1;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a {
      color: $color-primary;
      padding-inline: toRem(16);
      &:last-of-type {
        padding-block: toRem(16);
      }
      svg {
        color: $color-quaternary;
        font-size: toRem(20);
      }
    }
  }
}
