// colors
$color-primary: #2a9d8f;
$color-secondary: #e9c46a;
$color-terciary: #e76f51;
$color-quaternary: #264653;
$color-quinary: #f4a261;

$color-black: #000;
$color-white: #fff;

$color-gray-1: #f1f2f3;
$color-gray-2: #ddd;
$color-gray-3: #777;

// font family
$font-family: "Helvetica", Sans-Serif;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
